/* Este es el "Reset" para que no haya espacios blancos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  /* Esto asegura que el fondo sea uniforme */
  overflow-x: hidden; 
}